.checkout-page {
  padding: 20px;
}

.summary-box {
  background: #f1f1f1;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.pay-btn {
  padding: 12px 20px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
